app = "astral-ponder"
primary_region = "sjc"

[build]
  builder = "heroku/buildpacks:20"

[env]
  DATABASE_SCHEMA = "public"

[[services]]
  http_checks = []
  internal_port = 42069
  processes = ["app"]
  protocol = "tcp"
  script_checks = []

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443